<head>
	<title>StreamFi | Home</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/index.css">
</head>

<body id="background">
	<div id="left-nav">
		<ul>
		  <li><a class="active" href="#"><i class="fa fa-home"></i><br>Home</a></li>
		  <li><a href="#"><i class="fa fa-tint"></i><br>Containers</a></li>
		  <li><a href="#"><i class="fa fa-bar-chart"></i><br>Statistics</a></li>
		  <li><a href="#"><i class="fa fa-cog"></i><br>Settings</a></li>
		  <li><a href="#"><i class="fa fa-sign-out"></i><br>Sign Out</a></li>
		</ul>
	</div>
	<div id="content">
		<h2>Hello World!!!</h2>
	</div>
</body>